<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Fornecedores</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">
  <link th:href="@{/styles/styles.css}"
        rel="stylesheet" />

</head>

<body>
  <h1>Lista de Fornecedores</h1>
  
  <div class="form-control">
    <a href="/cadastroFornecedor" class="btn btn-info">Novo Fornecedor</a>
  </div>
  
  <table class="table table-striped">
    <colgroup>
      <col span="1" style="width: 6%;" />
      <col span="1" style="width: 16%;" />
      <col span="1" style="width: 16%;" />
      <col span="1" style="width: 16%;" />
      <col span="1" style="width: 16%;" />
      <col span="1" style="width: 30%;" />
    </colgroup>
    <thead>
      <tr>
        <th>Código</th>
        <th>CNPJ</th>
        <th>Empresa</th>
        <th>Responsável</th>
        <th>Contato</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="frn : ${listaFornecedores}">
        <td th:text="${frn.id}"></td>
        <td th:text="${frn.cnpj}"></td>
        <td th:text="${frn.nome}"></td>
        <td th:text="${frn.responsavel}"></td>
        <td th:text="${frn.email}"></td>
        <td>
          <a th:href="@{/alterarFornecedor/{id}(id=${frn.id})}" class="btn btn-info">Alterar</a>
          <a th:href="@{/deletarFornecedor/{id}(id=${frn.id})}" class="btn btn-danger">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>

</body>

</html>