<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Usuários</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">
  <link th:href="@{/styles/styles.css}"
        rel="stylesheet" />

</head>

<body>
  <h1>Lista de Usuários</h1>
  
  <div class="form-control">
    <a href="/cadastroUsuario" class="btn btn-info">Novo Usuário</a>
  </div>
  
  <table class="table table-striped">
    <colgroup>
      <col span="1" style="width: 6%;" />
      <col span="1" style="width: 12%;" />
      <col span="1" style="width: 10%;" />
      <col span="1" style="width: 10%;" />
      <col span="1" style="width: 10%;" />
      <col span="1" style="width: 12%;" />
      <col span="1" style="width: 10%;" />
      <col span="1" style="width: 10%;" />
      <col span="1" style="width: 20%;" />
    </colgroup>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>RG</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Empresa</th>
        <th>Nível de Acesso</th>
        <th>Contato</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usr : ${listaUsuarios}">
        <td th:text="${usr.id}"></td>
        <td th:text="${usr.nome}"></td>
        <td th:text="${usr.rg}"></td>
        <td th:text="${usr.cpf}"></td>
        <td th:text="${#dates.format(usr.dataNascimento, 'dd/MM/yyyy')}"></td>
        <td th:text="${usr.empresa.nome}"></td>
        <td th:text="${usr.nivelAcesso.nome}"></td>
        <td th:text="${usr.email}"></td>
        <td>
          <a th:href="@{/alterarUsuario/{id}(id=${usr.id})}" class="btn btn-info">Alterar</a>
          <a th:href="@{/deletarUsuario/{id}(id=${usr.id})}" class="btn btn-danger">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>

</body>

</html>